<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Crypto Exchange API Demo</title>
</head>
<body>
  <h1>Crypto Exchange API Demo</h1>
  <ul>
    <li><a href="/xml-rates">Pogledaj XML tečajeve (Float)</a></li>
    <li><a href="/price">Dohvati Exchange Price</a></li>
    <li><a href="/create-order">Kreiraj Order</a></li>
  </ul>
</body>
</html>
