<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rezultat zamene</title>
</head>
<body>
  <h1>Rezultat zamene</h1>
  <pre><%= JSON.stringify(result, null, 2) %></pre>
  <br>
  <a href="/">Nazad</a>
</body>
</html>
