<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XML Tečajevi</title>
</head>
<body>
  <h1>XML Tečajevi (Float)</h1>
  <!-- Prikaz celokupnog objekta tečajeva -->
  <pre><%= JSON.stringify(rates, null, 2) %></pre>
  <a href="/">Nazad</a>
</body>
</html>
